<tr class='<%= cycle *%w(odd even) %>'>
  <td>
    <%= link_to comparison.name, comparison %>
    <% unless comparison.description.blank? %>
      <p class='description'><%= truncate(comparison.description) %></p>
    <% end %>
  </td>
  <td><%= benchmark_info_for comparison %></td>
</tr>